@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;

  font-weight: 400;


  color-scheme: light;

  --color-bg-main: #f8f5f2;
  --color-bg-sidebar: #fffbf5;
  --color-bg-header: #8b4513;
  --color-bg-header-accent: #6e360f;
  --color-bg-header-border: #5d2e0c;

  --color-text-main: #2c1810;
  --color-text-inverted: #f8f5f2;
  --color-text-accent: #e6c288;

  --color-border: #d3c4b1;
  --color-border-dark: #5d2e0c;

  --color-item-hover: #e6dbcf;
  --color-item-selected: #8b4513;


  background-color: var(--color-bg-main);

  color: var(--color-text-main);


  font-synthesis: none;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --color-bg-main: #1a1614;

  --color-bg-sidebar: #241e1b;
  --color-bg-header: #2c1810;
  --color-bg-header-accent: #3e2217;
  --color-bg-header-border: #4a2c1d;

  --color-text-main: #e6dbcf;
  --color-text-inverted: #e6dbcf;
  --color-text-accent: #e6c288;

  --color-border: #3e2b22;
  --color-border-dark: #5d4037;
  --color-item-hover: #2c2420;
  --color-item-selected: #a65d29;

  color-scheme: dark;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

@theme {
  --color-bg-main: var(--color-bg-main);
  --color-bg-sidebar: var(--color-bg-sidebar);
  --color-bg-header: var(--color-bg-header);
  --color-bg-header-accent: var(--color-bg-header-accent);

  --color-text-main: var(--color-text-main);
  --color-text-inverted: var(--color-text-inverted);
  --color-text-accent: var(--color-text-accent);

  --color-border-base: var(--color-border);

  --color-border-dark: var(--color-border-dark);
  --color-item-hover: var(--color-item-hover);
  --color-item-selected: var(--color-item-selected);
}