@import "tailwindcss";
@layer base {
  section,
  article,
  aside,
  nav,
  header,
  footer,
  div {
    border-color: var(--color-border) !important;
    input {
      border-color: var(--color-border-base) !important;
    }
    select {
      border-color: var(--color-border-base) !important;
    }
  }
}

/* Nascondi frecce input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;

  --color-bg-main: #f4f6fc;
  --color-bg-table: #f4f6fc;
  --color-bg-sidebar: #ffffff;
  --color-bg-header: #1a3d7f;
  --color-bg-header-accent: #153166;
  --color-bg-header-border: #0d1e40;
  --color-bg-header-final: #7a9bde;

  --color-text-main: #0d1e40;
  --color-text-inverted: #f8fafc;
  --color-text-accent: #4a5b7d;
  --color-text-symbols: #7a9bde;
  --color-text-sidebar-jobs: #7a9bde;

  --color-border: #2351a8;
  --color-border-dark: #0d1e40;
  --color-border-selected: #4a5b7d;

  --color-item-hover: #d9e2f5;
  --color-item-selected: #1a3d7f;
  --color-item-selected-open: #eaf0fa;

  background-color: var(--color-bg-main);
  color: var(--color-text-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --color-bg-main: #181a26;
  --color-bg-table: #181a26;
  --color-bg-sidebar: #2d2f3a;

  --color-bg-header: #2d2f3a;
  --color-bg-header-accent: #444550;
  --color-bg-header-border: #121212;
  --color-bg-header-final: #1a3d7f;

  --color-text-main: #f8fafc;
  --color-text-inverted: #f8fafc;
  --color-text-symbols: #54639b;
  --color-text-accent: #848db7;
  --color-text-sidebar-jobs: #9da3c5;

  --color-border: #444550;
  --color-border-dark: #444550;
  --color-border-selected: #6c78a9;

  --color-item-hover: #444550;
  --color-item-selected: #3a508d;
  --color-item-selected-open: #2d2f3a;
}

@theme {
  --color-bg-main: var(--color-bg-main);
  --color-bg-table: var(--color-bg-table);
  --color-bg-sidebar: var(--color-bg-sidebar);
  --color-bg-header: var(--color-bg-header);
  --color-bg-header-accent: var(--color-bg-header-accent);
  --color-bg-header-final: var(--color-bg-header-final);

  --color-text-main: var(--color-text-main);
  --color-text-inverted: var(--color-text-inverted);
  --color-text-accent: var(--color-text-accent);
  --color-text-symbols: var(--color-text-symbols);
  --color-text-sidebar-jobs: var(--color-text-sidebar-jobs);

  --color-item-hover: var(--color-item-hover);
  --color-item-selected: var(--color-item-selected);
  --color-item-selected-open: var(--color-item-selected-open);

  --color-border-base: var(--color-border);
  --color-border-selected: var(--color-border-selected);
  --color-bg-header-border: var(--color-bg-header-border);
  --color-border-dark: var(--color-border-dark);
}
